ASPNETCORE_ENVIRONMENT=Development
DEVICE_TRUST_DB_PASSWORD=placeholder_password
DEVICE_TRUST_DB_USER=placeholder_user
GATEWAY_PORT=8080
IDENTITY_DB_PASSWORD=placeholder_password
IDENTITY_DB_USER=placeholder_user
JWT_AUDIENCE=placeholder_audience
JWT_ISSUER=placeholder_issuer
JWT_SIGNING_KEY=placeholder_signing_key_32_chars
MFA_SECRET_PROTECTION_ACTIVE_KEY_ID=mfa-v1
MFA_SECRET_PROTECTION_KEY_MFA_V1=placeholder_key_32_bytes
MIGRATOR_DB_PASSWORD=placeholder_password
MIGRATOR_DB_USER=placeholder_user
POSTGRES_DB=placeholder_db
POSTGRES_PASSWORD=placeholder_password
POSTGRES_PORT=5432
POSTGRES_USER=placeholder_user
REDIS_PASSWORD=placeholder_password
REDIS_PORT=6379
